body{
   
    background-color:  hsl(30, 38%, 92%);
    height: 1440px;
    min-height: 100vh;
    display: grid;
    place-items: center;
    
}

.container{
    background-color: white;
    width: 800px;
    height: 600px;
    text-align: center;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    align-items: center;
    border-radius: 10px;
    
    
    
    
    
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 5px;
    color: hsla(0, 0%, 50%);
    text-align: left;
    margin-left:30px;
    margin-top: 30px;
    
}

h2{
    font-family: 'Fraunces', serif;
    font-size: 40px;
    grid-row-start: 2;
    grid-column-start: 2;
    text-align: left;
    margin-left: 30px

    
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    text-align: left;
    align-self: start;
    margin-left: 30px;
    color:hsla(0, 0%, 50%);
    line-height: 30px;
    margin-right: 20px;
}

img{
    grid-row-start: 1;
    grid-row-end: span 4;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

.price{
    grid-row-start: 4;
    align-self: start;
    margin: 0;
    margin-left: 30px;
    color: hsl(158, 36%, 37%);
}

span{
    font-size: 15px;
    position: relative;
    bottom: 10px;
    left: 20px;
    text-decoration:line-through;
    color: black;
}

#button{
    background-color: hsl(158, 36%, 37%);
    grid-row-start: 4;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    padding: 15px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: 10px
}

#button:hover{
    background-color:hsl(158, 36%, 50%);
    transition: .2s;
    cursor: pointer;
}

